<!DOCTYPE html>
<html>
<head>
	<title>Micron</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>

	<link rel="stylesheet" href="static/css/form-index.css">
</head>
<body>
<div class="container">
	<form class="form-inline">
		<div class="form-logo">
        	<img src="../static/logo.png" width="230">
    	</div>

		<div class="form-group">
			<label for="InputSequence">Sequence</label>
			<input type="text" class="form-input" id="InputSequence" placeholder="Enter the Input Sequence">
		</div>

		<div class="form-group">
			<label for="TopkNumber">TopK</label>
			<input type="number" min="1" class="form-top" id="TopkNumber" placeholder="Topk Values" >
		</div>

		<div class="form-group">
			<label for="modelSelection">Model</label>
			<select class="form-model" id="modelSelection">
				<option  disabled="disabled" selected="selected">None</option>
					<option value="pg">PG</option>
					<option value="bn">BN</option>
					<option value="lstm">LSTM</option>
        	</select>
    	</div>

		<div class="form-group" style="text-align:center;">
			<button type="submit" class="form-predict" >Predict</button>
		</div>

		<div class = "form-group">
			<label  for="output">Predicted Block</label>
			<textarea type="text" class="form-output" id="output"  disabled></textarea>
		</div>

	</form>

</div>
</body>
</html>